*{
padding: 0%;
margin: 0%;
}
body{
    width: 80%;
    padding: 0.9%;
    margin: 20px auto;
}
#main-wrapper{
border:2px solid black;
text-align: center;
display: flex;
box-shadow: black 5px 5px 10px , gray -5px -5px 10px, lightblue 10px 10px 100px inset;
border-radius: 20px;
transition:all 1s;


}
#article-wrapper{
    width: 400px;
    height: 500px;
    border: 2px solid rgb(148, 81, 118);
column-count: 3;
column-rule: 2px solid rgb(148, 81, 118);
overflow: auto;
border-radius: 20px;
box-shadow: black 10px 10px 10px , gray -10px -10px 10px, rgb(68, 109, 136) 10px 10px 100px inset;

}
#image-wrapper{
    width: 800px;
    height: 500px;
    overflow: auto;
    border-radius: 20px;
    border: 2px solid rgb(148, 81, 118);
    box-shadow: black 10px 10px 10px , gray -10px -10px 10px, lightblue 10px 10px 100px inset;

}
section {
    margin: 25px;
}
img{
    transition:all 1s;

    margin: 5px;
    width: 10rem;
    height: 7rem;
    padding: 2px;
    box-shadow: black 10px 10px 10px , gray -10px -10px 10px, lightblue 10px 10px 100px inset;
}
#main-wrapper:hover{
    transform: skew(10deg);
    box-shadow: goldenrod 10px 10px 10px , blue -10px -10px 10px, burlywood 10px 10px 100px inset;

}
img:hover{
transform: scale(1.5);

}
mark:hover{
background-color: rgb(17, 55, 80);
}
article:hover{
text-decoration: underline;
}
#main-wrapper:active{
    transform: scale(0.4);
    box-shadow: goldenrod 10px 10px 10px , blue -10px -10px 10px, burlywood 10px 10px 100px inset;
}
img:active{
    transform: scale(2);
    box-shadow: goldenrod 10px 10px 10px , blue -10px -10px 10px, burlywood 10px 10px 100px inset;
border-radius: 20px;
}
