img{
    transform: rotate(45deg);
}

img:hover{
    transform: rotate(0);
}

img:active{
    border: 2px dashed darkslateblue;
    box-shadow: mediumvioletred 2px 2px 10px;
}

#image-wrapper{
    -webkit-box-flex: 3;
}

#article-wrapper{
    width: 40%;
}



#main-wrapper:hover {
    transform: none;
}

#main-wrapper:active {
    transform: none;
}

img:hover {
    transform: none;
}

img:active{
    transform: none;
}

#article-wrapper:hover {
    text-decoration: none;
}

mark:hover{
    background-color: rgb(247, 176, 46);
}
